[access]
	inheritFrom = Kernel-Projects
[access "refs/heads/*"]
	owner = group kernel-owners
	create = group kernel-owners
	push = group kernel-owners
	label-Code-Review = -2..+2 group kernel-approvers
	label-Verified = -1..+1 group kernel-approvers
	submit = group kernel-approvers
[project]
	description = Kernel tree for Mediatek chipsets
[receive]
	requireSignedOffBy = true
[submit]
	action = fast forward only
	mergeContent = false
