/*
 * Copyright (c) 2015 MediaTek Inc.
 * Author: Erin Lo <erin.lo@mediatek.com>
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation; either version 2 of the License.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 */

/dts-v1/;
#include "mt2701.dtsi"

/ {
	model = "MediaTek bx2701 Development Board";
	compatible = "mediatek,bx2701-evb1","mediatek,mt2701";

	chosen {
		bootargs = "earlyprintk";
	};

	memory {
		reg = <0x80000000 0x40000000>;
	};

};

&pio {
	pinctrl-names = "default";
	pinctrl-0 = <&state_default>;

	state_default:pinconf_default {
	};

	spi_pins_a: spi0@0 {
		pins_spi {
			pins = <MT2701_PIN_53_SPI0_CSN__FUNC_SPI0_CS>,
			<MT2701_PIN_54_SPI0_CK__FUNC_SPI0_CK>,
			<MT2701_PIN_55_SPI0_MI__FUNC_SPI0_MI>,
			<MT2701_PIN_56_SPI0_MO__FUNC_SPI0_MO>;
			bias-disable;
		};
	};

	spi_pins_b: spi1@0 {
		pins_spi {
			pins = <MT2701_PIN_7_SPI1_CSN__FUNC_SPI1_CS>,
			<MT2701_PIN_8_SPI1_MI__FUNC_SPI1_MI>,
			<MT2701_PIN_9_SPI1_MO__FUNC_SPI1_MO>,
			<MT2701_PIN_199_SPI1_CLK__FUNC_SPI1_CK>;
			bias-disable;
		};
	};

	spi_pins_c: spi2@0 {
		pins_spi {
			pins = <MT2701_PIN_101_SPI2_CSN__FUNC_SPI2_CS>,
			<MT2701_PIN_102_SPI2_MI__FUNC_SPI2_MI>,
			<MT2701_PIN_103_SPI2_MO__FUNC_SPI2_MO>,
			<MT2701_PIN_104_SPI2_CLK__FUNC_SPI2_CK>;
			bias-disable;
		};
	};

	i2c0_pins_a: i2c0@0 {
		pins1 {
			pinmux = <MT2701_PIN_75_SDA0__FUNC_SDA0>,
				 <MT2701_PIN_76_SCL0__FUNC_SCL0>;
			bias-disable;
		};
	};

	i2c1_pins_a: i2c1@0 {
		pins1 {
			pinmux = <MT2701_PIN_57_SDA1__FUNC_SDA1>,
				 <MT2701_PIN_58_SCL1__FUNC_SCL1>;
			bias-disable;
		};
	};

	i2c2_pins_a: i2c2@0 {
		pins1 {
			pinmux = <MT2701_PIN_77_SDA2__FUNC_SDA2>,
				 <MT2701_PIN_78_SCL2__FUNC_SCL2>;
			bias-disable;
		};
	};
};

&spi0 {
	pinctrl-names = "default";
	pinctrl-0 = <&spi_pins_a>;
	status = "okay";
	#address-cells = <0x1>;
	#size-cells = <0>;
};

&spi1 {
	pinctrl-names = "default";
	pinctrl-0 = <&spi_pins_b>;
	status = "okay";
	#address-cells = <0x1>;
	#size-cells = <0>;
};

&spi2 {
	pinctrl-names = "default";
	pinctrl-0 = <&spi_pins_c>;
	status = "okay";
	#address-cells = <0x1>;
	#size-cells = <0>;
};

&i2c0 {
	pinctrl-names = "default";
	pinctrl-0 = <&i2c0_pins_a>;
	status = "okay";
};

&i2c1 {
	pinctrl-names = "default";
	pinctrl-0 = <&i2c1_pins_a>;
	status = "okay";
};

&i2c2 {
	pinctrl-names = "default";
	pinctrl-0 = <&i2c2_pins_a>;
	status = "okay";
};

&pio {
	usb_default: default {
	};

	gpio28_mode0_iddig: iddig_irq_init{
		pins_cmd_dat {
			pinmux = <MT2701_PIN_28_EINT6__FUNC_GPIO28>;
			//bias-pull-up;
			//input-enable;
			slew-rate = <0>;
			bias-pull-up = <00>;
		};
	};

	gpio8_mode0_drvvbus: drvvbus_init{
		pins_cmd_dat {
			pinmux = <MT2701_PIN_8_SPI1_MI__FUNC_GPIO8>;
			//output-low;
			slew-rate = <1>;
			bias-pull-up = <00>;
		};
	};

	gpio8_mode0_drvvbus_low: drvvbus_low{
		pins_cmd_dat {
			pinmux = <MT2701_PIN_8_SPI1_MI__FUNC_GPIO8>;
			slew-rate = <1>;
			output-low;
		};
	};

	gpio8_mode0_drvvbus_high: drvvbus_high{
		pins_cmd_dat {
			pinmux = <MT2701_PIN_8_SPI1_MI__FUNC_GPIO8>;
			slew-rate = <1>;
			output-high;
		};
	};

};

&usb0 {
	pinctrl-names = "default", "iddig_irq_init", "drvvbus_init", "drvvbus_low","drvvbus_high";
	pinctrl-0 = <&usb_default>;
	pinctrl-1 = <&gpio28_mode0_iddig>;
	pinctrl-2 = <&gpio8_mode0_drvvbus>;
	pinctrl-3 = <&gpio8_mode0_drvvbus_low>;
	pinctrl-4 = <&gpio8_mode0_drvvbus_high>;
	status = "okay";
	drvvbus_gpio = <&pio 8 0>;
	otg-iddig{
		iddig_gpio = <&pio 28 0>;
		interrupt-parent = <&pio>;
		interrupts = <6 IRQ_TYPE_LEVEL_LOW>;
	};
};
&pwrap {
	pmic: mt6323 {
		compatible = "mediatek,mt6323";
		#address-cells = <1>;
		#size-cells = <1>;

		mt6323regulator: mt6323regulator{
			compatible = "mediatek,mt6323-regulator";

			mt6323_vproc_reg: buck_vproc{
				regulator-name = "vproc";
				regulator-min-microvolt = < 700000>;
				regulator-max-microvolt = <1350000>;
				regulator-ramp-delay = <12500>;
				regulator-always-on;
				regulator-boot-on;
			};

			mt6323_vsys_reg: buck_vsys{
				regulator-name = "vsys";
				regulator-min-microvolt = <1400000>;
				regulator-max-microvolt = <2987500>;
				regulator-ramp-delay = <25000>;
				regulator-always-on;
				regulator-boot-on;
			};

			mt6323_vpa_reg: buck_vpa{
				regulator-name = "vpa";
				regulator-min-microvolt = < 500000>;
				regulator-max-microvolt = <3650000>;
			};

			mt6323_vtcxo_reg: ldo_vtcxo{
				regulator-name = "vtcxo";
				regulator-min-microvolt = <2800000>;
				regulator-max-microvolt = <2800000>;
				regulator-enable-ramp-delay = <90>;
				regulator-always-on;
				regulator-boot-on;
			};

			mt6323_vcn28_reg: ldo_vcn28{
				regulator-name = "vcn28";
				regulator-min-microvolt = <2800000>;
				regulator-max-microvolt = <2800000>;
				regulator-enable-ramp-delay = <185>;
			};

			mt6323_vcn33_bt_reg: ldo_vcn33_bt{
				regulator-name = "vcn33_bt";
				regulator-min-microvolt = <3300000>;
				regulator-max-microvolt = <3600000>;
				regulator-enable-ramp-delay = <185>;
			};

			mt6323_vcn33_wifi_reg: ldo_vcn33_wifi{
				regulator-name = "vcn33_wifi";
				regulator-min-microvolt = <3300000>;
				regulator-max-microvolt = <3600000>;
				regulator-enable-ramp-delay = <185>;
			};

			mt6323_va_reg: ldo_va{
				regulator-name = "va";
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <2500000>;
				regulator-enable-ramp-delay = <216>;
				regulator-boot-on;
			};

			mt6323_vcama_reg: ldo_vcama{
				regulator-name = "vcama";
				regulator-min-microvolt = <1500000>;
				regulator-max-microvolt = <2800000>;
				regulator-enable-ramp-delay = <216>;
			};

			mt6323_vio28_reg: ldo_vio28{
				regulator-name = "vio28";
				regulator-min-microvolt = <2800000>;
				regulator-max-microvolt = <2800000>;
				regulator-enable-ramp-delay = <216>;
				regulator-always-on;
				regulator-boot-on;
			};

			mt6323_vusb_reg: ldo_vusb{
				regulator-name = "vusb";
				regulator-min-microvolt = <3300000>;
				regulator-max-microvolt = <3300000>;
				regulator-enable-ramp-delay = <216>;
				regulator-boot-on;
			};

			mt6323_vmc_reg: ldo_vmc{
				regulator-name = "vmc";
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <3300000>;
				regulator-enable-ramp-delay = <36>;
				regulator-boot-on;
			};

			mt6323_vmch_reg: ldo_vmch{
				regulator-name = "vmch";
				regulator-min-microvolt = <3000000>;
				regulator-max-microvolt = <3300000>;
				regulator-enable-ramp-delay = <36>;
				regulator-boot-on;
			};

			mt6323_vemc3v3_reg: ldo_vemc3v3{
				regulator-name = "vemc3v3";
				regulator-min-microvolt = <3000000>;
				regulator-max-microvolt = <3300000>;
				regulator-enable-ramp-delay = <36>;
				regulator-boot-on;
			};

			mt6323_vgp1_reg: ldo_vgp1{
				regulator-name = "vgp1";
				regulator-min-microvolt = <1200000>;
				regulator-max-microvolt = <3300000>;
				regulator-enable-ramp-delay = <216>;
			};

			mt6323_vgp2_reg: ldo_vgp2{
				regulator-name = "vgp2";
				regulator-min-microvolt = <1200000>;
				regulator-max-microvolt = <3000000>;
				regulator-enable-ramp-delay = <216>;
			};

			mt6323_vgp3_reg: ldo_vgp3{
				regulator-name = "vgp3";
				regulator-min-microvolt = <1200000>;
				regulator-max-microvolt = <1800000>;
				regulator-enable-ramp-delay = <216>;
			};

			mt6323_vcn18_reg: ldo_vcn18{
				regulator-name = "vcn18";
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <1800000>;
				regulator-enable-ramp-delay = <216>;
			};

			mt6323_vsim1_reg: ldo_vsim1{
				regulator-name = "vsim1";
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <3000000>;
				regulator-enable-ramp-delay = <216>;
			};

			mt6323_vsim2_reg: ldo_vsim2{
				regulator-name = "vsim2";
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <3000000>;
				regulator-enable-ramp-delay = <216>;
			};

			mt6323_vrtc_reg: ldo_vrtc{
				regulator-name = "vrtc";
				regulator-min-microvolt = <2800000>;
				regulator-max-microvolt = <2800000>;
				regulator-always-on;
				regulator-boot-on;
			};

			mt6323_vcamaf_reg: ldo_vcamaf{
				regulator-name = "vcamaf";
				regulator-min-microvolt = <1200000>;
				regulator-max-microvolt = <3300000>;
				regulator-enable-ramp-delay = <216>;
			};

			mt6323_vibr_reg: ldo_vibr{
				regulator-name = "vibr";
				regulator-min-microvolt = <1200000>;
				regulator-max-microvolt = <3300000>;
				regulator-enable-ramp-delay = <36>;
			};

			mt6323_vrf18_reg: ldo_vrf18{
				regulator-name = "vrf18";
				regulator-min-microvolt = <1825000>;
				regulator-max-microvolt = <1825000>;
				regulator-enable-ramp-delay = <187>;
			};

			mt6323_vm_reg: ldo_vm{
				regulator-name = "vm";
				regulator-min-microvolt = <1200000>;
				regulator-max-microvolt = <1800000>;
				regulator-enable-ramp-delay = <216>;
				regulator-always-on;
				regulator-boot-on;
			};

			mt6323_vio18_reg: ldo_vio18{
				regulator-name = "vio18";
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <1800000>;
				regulator-enable-ramp-delay = <216>;
				regulator-always-on;
				regulator-boot-on;
			};

			mt6323_vcamd_reg: ldo_vcamd{
				regulator-name = "vcamd";
				regulator-min-microvolt = <1200000>;
				regulator-max-microvolt = <1800000>;
				regulator-enable-ramp-delay = <216>;
			};

			mt6323_vcamio_reg: ldo_vcamio{
				regulator-name = "vcamio";
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <1800000>;
				regulator-enable-ramp-delay = <216>;
			};
		};
	};
};


/* AUDIO GPIO standardization */
&sound {
	pinctrl-names = "default";
	pinctrl-0 = <&AUD_pins_default>;

	status = "okay";
};

&pio {
	AUD_pins_default: audiodefault {
		pins_cmd_dat {
			pinmux = <MT2701_PIN_49_I2S0_DATA__FUNC_I2S0_DATA>,
				<MT2701_PIN_72_I2S0_DATA_IN__FUNC_I2S0_DATA_IN>,
				<MT2701_PIN_73_I2S0_LRCK__FUNC_I2S0_LRCK>,
				<MT2701_PIN_74_I2S0_BCK__FUNC_I2S0_BCK>,
				<MT2701_PIN_126_I2S0_MCLK__FUNC_I2S0_MCLK>,
				<MT2701_PIN_200_SPDIF_OUT__FUNC_SPDIF_OUT>,
				<MT2701_PIN_189_I2S3_DATA__FUNC_I2S3_DATA>,
				<MT2701_PIN_190_I2S3_DATA_IN__FUNC_I2S3_DATA_IN>,
				<MT2701_PIN_191_I2S3_BCK__FUNC_I2S3_BCK>,
				<MT2701_PIN_192_I2S3_LRCK__FUNC_I2S3_LRCK>,
				<MT2701_PIN_193_I2S3_MCLK__FUNC_I2S3_MCLK>;
			drive-strength = <MTK_DRIVE_12mA>;
		};
	};
};
/* AUDIO end */
